.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

/* ===========================
	Navigation Bar
==============================*/

.nav-bar {
	font-size: 12px;
}

.nav-bar-link {
	color: #757575;
}

.nav-bar-link:hover {
	color: #C9C9C9;
}

/* .social-media-links {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.social-media-links:hover, .social-media-links:focus, .social-media-links:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	color: #bd5d38;
} */

/* ===========================
  All Projects Cards
==============================*/

.tech-info {
	font-size: 1.875rem;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding-bottom: 8px;
	letter-spacing: -0.8px;
	letter-spacing: -.05rem;
}

.tech-info-list {
	font-size: 1.25em;
	color: #cb3837;
	text-decoration: none;
	font-weight: 400;
	line-height: 1.4;
}

.tech-info .margin-left-1 {
	margin-left: 1em;
}

.camera-info-list {
	font-size: 1.25em;
	font-weight: 400;
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	margin: 2em 1em 2em 1em;
	padding: 2em 1em 2em 1em;
}

.border-bottom-tech {
	/* border-bottom: 1px solid rgba(0, 0, 0, .1); */
	margin: 2em 1em 0 1em;
	padding: 2em 1em 0 1em;
}

/* ===========================
	Responsive
==============================*/

/* Large Display */

@media only screen and (min-width: 1600px) {}

@media only screen and (min-width: 1477px) and (max-width: 1599px) {}

@media only screen and (min-width: 1400px) and (max-width: 1476px) {
	html {
		font-size: 80%;
	}
	.container {
		max-width: 80%!important;
	}
	.view .imgFit {
		height: 57vh !important;
		width: 93vw !important;
	}
	.view .stripe div p {
		font-size: 1.25em !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: 9em;
		height: 77em !important;
	}
	.display-4 {
		padding-top: 0.5em !important;
	}
	.view .mb-intro {
		margin-bottom: 10em;
	}
	#headerbox {
		margin: -6em 23em 5em 23em;
	}
	.headerbg-contact {
		height: 47em !important;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	html {
		font-size: 80%;
	}
	.container {
		width: 85% !important;
	}
	.view .stripe div p {
		font-size: 1.25em !important;
	}
	.display-4 {
		padding-top: 0.5em !important;
	}
	#headerbox {
		margin: -6em 20em 5em 20em;
	}
	.view .mb-intro {
		margin-bottom: 10em !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: 14em !important;
		height: 70em !important;
	}
	.headerbg-contact {
		height: 43em;
	}
}

/* Medium screen : 992px. Ipad Pro */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Tablet :768px. Ipad */

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {}
/* Iphone X */

@media only screen and (max-width: 375px) and (max-height: 812px) {}

/* small mobile :320px. */

@media only screen and (max-width: 479px) {}