/* ===========================
	Layouts
==============================*/

.container {
	width: 75% !important;
}

.unorder-list {
	line-height: 120%;
}

.container .mb-intro {
	margin-bottom: 200em;
}

p, h3 {
	letter-spacing: 1px;
}

.container p {
	text-indent: 2em;
	font-size: 1em;
}

.no-indentation {
	text-indent: 0em !important;
}

.no-underline {
	text-decoration: none !important
}

.bottom-right {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.overlay-text {
	color: whitesmoke;
	font: bold 16px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgba(0, 0, 0, 0.4);
	padding: 3px;
	max-width:100%;
}

.footer-links {
	font-size: 1.2em;
}

/* ===========================
	Navigation Bar
==============================*/

.nav-bar {
	font-size: 12px;
}

.nav-bar-link {
	color: #757575;
}

.nav-bar-link:hover {
	color: #C9C9C9;
}

/* Carousel Intro CSS
/*----------------------------------------*/
/* .mb-intro .intro-container {
	padding: 2em 0 2em 1em !important;
} */

#carouselIntro .view1 {
	background-image: url('./images/backgrounds/carousel-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 103vh;
}

#carouselIntro .view2 {
	background-image: url('./images/backgrounds/carousel-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 103vh;
}
#carouselIntro .view3 {
	background-image: url('./images/backgrounds/carousel-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 103vh;
}
#carouselIntro .view4 {
	background-image:  url('./images/backgrounds/carousel-4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 103vh;
}


/* ===========================
  Project Header
==============================*/

#headerbox {
	background-color: rgba(255, 255, 255, .7);

}

#headerbox .Card {
	padding: 1.25rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.headerbg {
	height: 500px;
}

.headerTitle {
	letter-spacing: 2px;
}

.padding-top-3 {
	padding-top: 0.5em;
}

/* ===========================
  All Projects Cards
==============================*/

.display-4 {
	/* font-weight: 500 !important; */
	/* padding-top: 1em; */
	text-shadow: 2px 2px 4px #5a5051;
	font-size: 3.5em;
}

.display-5 {
	text-shadow: 0px 0px 10px #5a5051;
	padding-left: 4px;
	/* Diff Occupation desc */
	font-size: 1.25em;
	word-spacing: 0.1em !important;
}

.project-margins {
	margin: -3em 1em 2em 1em !important;
}

.hr-light {
	border-top: 2px solid #fff !important;
}

.intro-title {
	text-shadow: 0px 0px 4px #5a5051;
}

.tech-info {
	font-size: 1.25rem;
	margin-bottom: 5px;
	letter-spacing: -.05rem;
}

.tech-info .margin-left-1 {
	margin-left: 1em;
}

.camera-info-list .software-info-list .languages-info-list li {
	font-size: 1.25em;
	padding-bottom: 8px;
	letter-spacing: -.05rem;
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	margin: 2em 1em 2em 1em;
	padding: 2em 1em 2em 1em;
}

.border-bottom-tech {
	/* border-bottom: 1px solid rgba(0, 0, 0, .1); */
	margin: 2em 1em 0 1em;
	padding: 2em 1em 0 1em;
}

.imgFit {
	height: 60vh !important;
	width: 93vw !important;
	object-fit: cover !important;
	object-position: center !important;
}
.view .stripe {
	padding: 0.2rem !important;
	font-size: 0.6em !important;
}
.view .stripe {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	text-align: center;
	padding: 1.2rem;
}

.view .stripe.dark {
	background-color: rgb(64, 64, 64, .7);
}

.view .stripe.dark div p {
	color: #eee;
	font-family: "Helvetica Neue", Helvetica, Sans-serif;
	font-size: 1.5em;
}
.card-margin {
	margin-bottom: 2em;
}
.view.stripe.light {
	background-color: rgba(255, 255, 255, .7)
}

.stripe.light {
	background-color: rgba(255, 255, 255, .7)
}

.view .stripe.light div p {
	color: #424242;
	font-family: "Helvetica Neue", Helvetica, Sans-serif;
	font-size: 1.5em;
}

.view .stripe div p {
	padding: 0;
	margin: 0;
	letter-spacing: .15rem;
}

.view .stripe div .date {
	font-size: 0.75em;
	letter-spacing: 0.1;
}

/* ===========================
	Responsive
==============================*/

/* Large Display */

@media only screen and (min-width: 1600px) {
	.container {
		width: 100% !important;
	}
	.mb-intro .intro-container {
		padding: 10em 5em 10em 5em;
	}
	.display-4 {
		font-size: 5em !important;
	}
	.display-5 {
		font-size: 3em !important;
	}
	.parallax-mobile-view img {
		top: -30rem;
		height: 100 !important;
	}
	#headerbox {
		margin: -5em 12em 5em 12em !important;
	}
	.headerbg {
		height: 35em !important;
	}
	span {
		word-spacing: 2px;
	}
}

@media only screen and (min-width: 1477px) and (max-width: 1599px) {
	.container {
		width: 100% !important;
	}
	.mb-intro .intro-container {
		padding: 8em 5em 8em 5em;
	}
	.display-4 {
		font-size: 5em !important;
	}
	.display-5 {
		text-shadow: 0px 0px 10px #5a5051;
		font-size: 3em !important;
	}
	#headerbox{
		margin: -5em 0em 5em 0em !important;
	}
	.mb-intro {
		margin-bottom: 4em !important;
	}
	.display-4 {
		padding-top: 0.5em !important;
	}
	.view .imgFit {
		height: 57vh !important;
		width: 93vw !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -15em;
		height: 90em !important;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1476px) {
	html {
		font-size: 80%;
	}
	.container {
		width: 100% !important;
	}
	.mb-intro .intro-container {
		padding: 8em 2em 8em 2em;
	}
	.display-4 {
		font-size: 5em !important;
	}
	.display-5 {
		font-size: 3em !important;
	}
	.mb-intro {
		margin-bottom: 0em !important;
	}
	.view .imgFit {
		height: 50vh !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -15em;
		height: 95em !important;
	}
	.view .mb-intro {
		margin-bottom: 10em;
	}
	#headerbox {
		margin: -5em 23em 5em 23em;
	}
}

@media only screen and (min-width: 1342px) and (max-width: 1399px) {
	.container {
		width: 100% !important;
	}
	.mb-intro .intro-container {
		padding: 8em 2em 8em 2em;
	}
	.display-4 {
		font-size: 5em !important;
	}
	.display-5 {
		font-size: 3em !important;
	}
	.view .imgFit {
		height: 40vh !important;
	}
	.view .stripe {
		padding: 0.2rem !important;
		font-size: 0.7em !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -15em;
		height: 100em !important;
	}
	#headerbox {
		margin: -3em 12em 5em 12em;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1341px) {
	.container {
		width: 100% !important;
	}
	.mb-intro .intro-container {
		padding: 10em 0 10em 0em;
	}
	.mb-intro {
		margin-bottom: 0em !important;
	}
	.display-4 {
		font-size: 5em !important;
	}
	.display-5 {
		font-size: 3em !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -15em;
		height: 90em !important;
	}
	#headerbox {
		margin: -6em 10em 5em 10em;
	}
}

/* Medium screen : 992px. Ipad Pro */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 90%;
	}
	.intro-title {
		font-size: 4em !important;
	}
	.intro-subtitle {
		font-size: 2em !important;
	}
	.container {
		width: 95% !important;
	}
	.mb-intro .intro-container {
		padding: 8em 2em 8em 2em;
	}
	.display-4 {
		font-size: 5em !important;
	}
	.display-5 {
		text-shadow: 0px 0px 10px #5a5051;
		font-size: 3em !important;
	}
	.container .intro-box {
		padding: 0 0 0 0 !important;
	}
	.view .imgFit {
		height: 40vh !important;
	}
	.view .stripe {
		padding: 0.2rem !important;
		font-size: 0.8em !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -15em;
		height: 100em !important;
	}
	#headerbox {
		margin: -6em 3em 6em 3em;
	}
	.display-4 {
		padding-top: 1em !important;
	}
}

/* Tablet :768px. Ipad */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 100% !important;
	}
	.mb-intro .intro-container {
		padding: 8em 2em 8em 2em;
	}
	.display-4 {
		font-size: 3.25em !important;
		padding-top: 1em !important;
	}
	.display-5 {
		text-shadow: 0px 0px 10px #5a5051;
		font-size: 2.5em !important;
	}
	.container .intro-box {
		padding: 0 0 0 0 !important;
	}
	.view .imgFit {
		height: 50vh !important;
		width: 100vw !important;
	}
	.view .stripe {
		padding: 0.2rem !important;
		font-size: 0.8em !important;
	}
	.parallax-mobile-view img {
		top: -10em !important;
		height: 90em !important;
	}
	#headerbox {
		margin: -5em 0 5em 0;
	}
	.mb-intro {
		margin-bottom: 2em !important;
	}
}

@media only screen and (min-width: 721px) and (max-width: 768px) {
	.container {
		width: 100% !important;
	}
	.mb-intro .intro-container {
		padding: 8em 2em 8em 2em;
	}
	.display-4 {
		font-size: 3.25em !important;
		padding-top: 1em !important;
	}
	.display-5 {
		text-shadow: 0px 0px 10px #5a5051;
		font-size: 2.5em !important;
	}
	.container .intro-box {
		padding: 0 0 0 0 !important;
	}
	.parallax-mobile-view img {
		top: -10em !important;
		height: 90em !important;
	}
	#headerbox {
		margin: -5em 0 5em 0;
	}
	.mb-intro {
		margin-bottom: 2em !important;
	}
}

@media only screen and (min-width: 540px) and (max-width: 721px) {
	.container p {
		font-size: 0.7em;
	}
	.container {
		width: 95% !important;
	}
	.container .intro-box {
		padding: 0 0 0 0 !important;
	}
	.display-4 {
		font-size: 2.5em !important;
	}
	.display-5 {
		font-size: 2em !important;
	}
	.mb-intro .intro-container {
		padding: 8em 2em 8em 2em;
	}
	.mb-intro {
		margin-bottom: 0em !important;
	}
	.view .imgFit {
		height: 40vh !important;
		width: 100vw !important;
		object-position: center !important;
	}
	.view .stripe {
		bottom: 1rem !important;
		padding: 0.2rem !important;
	}
	.view .stripe p {
		font-size: 2em !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		height: 90em !important;
	}
}

/* Large Mobile :480px. */

@media only screen and (min-width: 479px) and (max-width: 540px) {
	.container {
		width: 100% !important;
	}
	.container p {
		text-indent: 0em;
	}
	.mb-intro .intro-container {
		padding: 10em 1em 10em 1em;
	}
	.mb-intro {
		margin-bottom: 0em !important;
	}
	.display-4 {
		font-size: 3em !important;
	}
	.display-5 {
		text-shadow: 0px 0px 10px #5a5051;
		font-size: 2em !important;
	}
	.container .intro-box {
		padding: 0 0 0 0 !important;
	}
	.mb-intro {
		margin-bottom: 0em !important;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -10em !important;
		height: 80rem !important;
	}
	#headerbox {
		margin: -7em 2em 5em 2em;
	}
}

/* Iphone X */

@media only screen and (max-width: 375px) and (max-height: 812px) {

	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -10em !important;
		height: 55em !important;
	}
}

/* small mobile :320px. */

@media only screen and (max-width: 479px) {
	.container p, .smaller-text {
		font-size: 0.7em;
	}
	.container {
		width: 100% !important;
	}
	#headerbox {
		margin-top: -3em !important;
	}
	.display-4 {
		font-size: 1.85em !important;
		padding-top: 1em !important;
	}
	.display-5 {
		font-size: 1em !important;
	}
	.view .imgFit {
		height: 50vh !important;
		width: 93vw !important;
	}
	.view .stripe {
		padding: 0.2rem !important;
		font-size: 0.65em !important;
	}
	/* Parallax Header Image  */
	.headerbg {
		height: 550px;
	}
	.parallax-mobile-view img {
		top: -10em !important;
		height: 80em !important;
	}
	.container .intro-box {
		padding: 0 0 0 0 !important;
	}
	.mb-intro .intro-container {
		padding: 5em 10px 5em 10px !important;
	}
	.bottom-right {
		position: absolute;
		bottom: 0px;
	}
	.overlay-text {
		font: bold 1.0rem Helvetica, Sans-Serif;
	}
	.footer-links {
		font-size: 0.75em;
		margin: auto;
	}
}

/* Galaxy Fold */
@media only screen and (max-width: 320px){
	.view .imgFit {
		height: 55vh !important;
		width: 93vw !important;
	}
	.view .stripe {
		padding: 0.2rem !important;
		font-size: 0.5em !important;
	}
	.container {
		width: 100% !important;
	}
	.headerbg {
		height: 500px;
	}
	/* Parallax Header Image  */
	.parallax-mobile-view img {
		top: -18em !important;
		height: 90em !important;
	}
}